@font-face
{
	font-family: 'playfair';
	src: url(fonts/Playfair.ttf);
}

body
{
	font-family: 'playfair';
	background-color: #2E3047;
	margin: 0px;
	margin-top: 10px;
}
.boxA
{
	background-color: #2E3047;
	margin: auto;
}
.boxB
{
	background-color: #43455C;
}
.boxC
{
	background-color: #3C3F58;
}
.scrollBox
{

	background-color: #707793;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
	margin-bottom: 2%;
}
.projectIcon
{
	background-color: #707793;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 2%;
	margin-top: 2%;
}

div
{
	background-color: #a83293;
	text-align: center;
}

/* Styling for text */
h
{
	font-family: 'playfair';
	font-size: 24px;
	font-weight: bold;
	color: white;
	margin-top: 2%;
}
h2
{
	font-family: 'playfair';
	font-weight: bold;
	font-size: 20px;
	color: white;
	margin-bottom: -10px;
}
p
{
	font-family: 'playfair';
	font-size: 20;
	color: white;
	margin-bottom: 2%;
}
p.project
{
	word-wrap: normal;
}

/* Styling for links */
a {
	color: #727272;
	text-decoration: none;
}
a:hover {
	color: white;
}
a.main {
	font-size: 24px;
	color: #727272;
	text-decoration: none;
}
a.main:hover
{
	color: white;
}
a.project
{
	font-size: 24px;
	color: white;
	text-decoration: none;
}
a.project:hover
{
	color: #b8b8b8;
}